!!!
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/scripts/clientChat.js')
    body
        block content

